/* ### ### ### */
/* Custom CSS for Wowchemy */
/* by Andrew Nguyen */
/* ### ### ### */

/* Global Variables */
$global-border: 1px solid rgba(0, 0, 0, 0.1);
$global-border-radius: 0;

$global-box-shadow: none;
$global-box-shadow-visible: 0 1px 1px 0 rgba(50, 50, 50, 0.1);
$global-box-shadow-colored: 0 1px 1px 0 #f5df4d;

$global-opacity: 0.5;
$global-padding: 1rem;
$global-page-margin-top: 50px;
$global-transition-duration: 0.1s;

/* Colors Accent */
$color-one: gray; // ultimate gray
$color-two: #f5df4d; // illuminating
$color-three: #363b48; // blue nights

/* Colors Mono */
$color-white: white;
$color-white-two: #f1f1f1;

$color-black: black;

/* Colors Other */
$color-blue: blue;
$color-clay: #c2bfb5;

/* Body */
body {
  background-color: $color-white;
  color: $color-black;
  margin-top: $global-page-margin-top;
}

body.dark {
  background: $color-black;
  color: $color-white;
}

/* Breadcrumbs */
@media (max-width: 768px) {
  .breadcrumb {
    padding-bottom: 0;
    padding-top: $global-padding;
  }
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
}

.home-hero h1 {
  color: $color-black;
}

.section-heading p {
  color: $color-three;
}

.dark .section-heading p {
  color: $color-three;
}

/* Buttons */
.wg-hero.dark .btn:hover {
  color: $color-blue !important;
}

/* Links */

a {
  color: $color-blue;
  transition-duration: $global-transition-duration;
}

.dark a {
  color: $color-two;
}

a:hover {
  color: $color-blue;
  text-decoration: underline;
}

.dark a:hover {
  color: $color-two !important;
}

.anchorjs-link {
  color: $color-blue;
  font-weight: unset;
  transition-duration: $global-transition-duration;
}

.anchorjs-link:hover {
  color: $color-blue;
  text-decoration: underline;
}

/* Forms */
.form-control {
  border: $global-border;
}

.form-control:hover,
.form-control:focus {
  border-color: $color-blue !important;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
}

.dark .form-control:hover,
.dark .form-control:focus {
  border-color: $color-two !important;
  box-shadow: none;
}

.dark .form-control {
  background: $color-three;
}

/* Inputs */

input.form-control::placeholder {
  color: $color-black;
  content: "" !important;
  opacity: $global-opacity;
}

.dark input.form-control::placeholder {
  color: $color-black;
  opacity: $global-opacity;
}

/* Tables */

table {
  display: table;
  word-break: keep-all;
}

/* Navigation Bar */
@media (min-width: 992px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl,
  .navbar-expand-lg .navbar-collapse {
    height: 100%;
  }

  .navbar .navbar-nav {
    align-items: center;
    height: 100%;
  }
}

.navbar {
  background: $color-white;
  border-bottom: $global-border;
  box-shadow: $global-box-shadow;
  text-transform: uppercase;
  height: $global-page-margin-top;
}

.dark .navbar {
  background: $color-black;
  border-bottom: $global-border;
  box-shadow: $global-box-shadow;
}

.navbar-nav {
  font-weight: bold;
}

/* Navigation Bar Mobile */

@media (max-width: 991.98px) {
  .navbar-collapse {
    /* mobile */
    background: $color-black;
    box-shadow: $global-box-shadow-visible;
  }

  .dark .navbar-collapse {
    /* mobile */
    background: $color-one;
  }

  #navbar-main .main-menu-item .nav-item {
    padding: 0 !important;
  }

  #navbar-main .main-menu-item .nav-item .nav-link {
    color: $color-white !important;
    padding: $global-padding !important;
  }

  #navbar-main .main-menu-item .nav-item .nav-link:hover,
  #navbar-main .main-menu-item .nav-item .nav-link.active {
    background: $color-two !important;
    color: $color-black !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-flex {
    display: flex !important;
  }
}

.navbar-toggler {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.dark .navbar-toggler {
  color: $color-white !important;
}

.navbar-toggler:hover {
  color: $color-blue !important;
}

.dark .navbar-toggler:hover {
  color: $color-two !important;
}

#logo {
  display: inline;
}

.navbar .nav-item {
  height: 100%;
}

.nav-link {
  align-items: center;
  display: flex;
  height: 100%;
}

.navbar-light {
  line-height: unset;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.dark .navbar .navbar-nav .nav-link {
  color: $color-white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  background: $color-black !important;
  color: $color-white !important;
  // font-weight: bold !important;
}

.dark .navbar-nav .nav-link:hover {
  background: $color-two !important;
  color: $color-black !important;
}

.navbar .navbar-nav .nav-link.active {
  background: $color-black;
  color: $color-white !important;
}

.dark .navbar .navbar-nav .nav-link.active {
  background: $color-two;
  color: $color-black !important;
}

.navbar .navbar-nav .nav-link.active:hover {
  color: $color-white !important;
}

.dark .navbar .navbar-nav .nav-link.active:hover {
  color: $color-black !important;
}

/* Navigation Bar Right Icons */
ul.nav-icons li.nav-item a {
  background: unset !important;
}

ul.nav-icons li.nav-item a.nav-link:hover {
  background: unset !important;
  color: $color-blue !important;
}

.dark ul.nav-icons li.nav-item a.nav-link:hover {
  color: $color-two !important;
}

/* Theme Selector */
.dark .dropdown-menu {
  background: $color-white !important;
}

.navbar .dropdown-item-active {
  color: $color-blue !important;
}

.dark .navbar .dropdown-item-active {
  color: $color-black !important;
}

.navbar .dropdown-item:hover {
  color: $color-blue !important;
}

.dark .navbar .dropdown-item:hover {
  color: $color-black !important;
}

.dropdown-item {
  color: $color-black !important;
  text-transform: none;
  transition-duration: $global-transition-duration;
}

.dark .dropdown-item {
  color: $color-one !important;
  transition-duration: $global-transition-duration;
}

/* Breadcumb */
.breadcrumb-item a {
  color: $color-one !important;
  transition-duration: $global-transition-duration;
}

.breadcrumb-item a:hover {
  color: $color-blue !important;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: $color-blue;
}

.dark .breadcrumb-item.active {
  color: $color-two;
}

.dark .breadcrumb-item a:hover {
  color: $color-two !important;
}

/* Search */

.search-results {
  background: $color-white;
}

.dark .search-results {
  background: $color-three;
}

.search-results > .container {
  padding: 0;
}

.section-search-results {
  padding: $global-padding;
  padding-top: 0rem;
}

.search-header {
  padding: $global-padding;
}

.dark .search-header {
  background: $color-three;
}

#search-box::before {
  color: $color-black;
  opacity: 1;
  overflow-x: unset;
  top: 0.7rem;
}

#search-box #search-query {
  border-radius: $global-border-radius;
  color: $color-black;
  font-size: 1rem;
  height: calc(1.5em + 0.75rem + 2px);
}

.dark #search-query {
  background: $color-two;
  color: $color-black;
}

.dark .search-modal {
  background: $color-three;
}

/* Books */

.docs-toggle {
  color: $color-black;
}

.docs-toggle:hover {
  color: $color-blue;
}

.dark .docs-toggle {
  color: $color-white;
}

.dark .docs-toggle:hover {
  color: $color-two;
}

@media (max-width: 768px) {
  .docs-search {
    border-bottom: 0;
  }
}

@media (min-width: 768px) {
  .docs-search {
    padding: $global-padding;
  }
}

.docs-search .form-control {
  background: $color-white-two;
  border-radius: $global-border-radius;
  text-overflow: ellipsis;
}

.dark .docs-search .form-control {
  background: $color-two;
  color: $color-black;
}

.docs-search .form-control:focus {
  box-shadow: $global-box-shadow;
}

#docs-search-box-border {
  border-top: $global-border;
}

.sidebar-search {
  color: $color-black;
}

.sidebar-search .fa-search:hover {
  box-shadow: $global-box-shadow;
  color: $color-blue;
}

.sidebar-search-shortcut {
  background: $color-white;
  border: $global-border;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
  color: $color-black;
}

.dark .sidebar-search-shortcut {
  background: $color-black;
  color: $color-white;
}

.sidebar-search-shortcut:hover {
  background: $color-black;
  color: $color-white;
}

.dark .sidebar-search-shortcut:hover {
  background: $color-white;
  color: $color-black;
}

.docs-links {
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 768px) {
  .docs-sidebar {
    height: calc(100vh - 50px);
    top: 50px;
  }
}

.docs-sidebar a {
  color: $color-black;
  transition-duration: $global-transition-duration;
}

@media (min-width: 768px) {
  .docs-sidebar a:hover {
    color: $color-blue !important;
  }
}

.docs-sidebar .nav > li > a {
  color: $color-one;
}

.dark .docs-sidebar .nav > li > a {
  color: $color-one !important;
}

.dark .docs-sidebar .nav > li > a:hover {
  color: $color-two !important;
}

.dark .docs-sidebar a:hover {
  color: $color-two !important;
}

.dark .docs-sidebar .nav > li:not(.active) > a {
  background: $color-black;
}

.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active > a {
  color: $color-blue !important;
  font-weight: unset;
}

.dark .docs-sidebar .docs-toc-item a.active,
.dark .docs-sidebar .nav > .active > a {
  color: $color-two !important;
}

.docs-toc-link {
  font-weight: bold;
}

.dark .docs-toc-link {
  background: $color-black;
  color: $color-white;
}

.docs-toc-link.active {
  color: $color-blue !important;
  font-weight: bold !important;
}

/* Books Navigation Mobile */

@media (max-width: 768px) {
  .docs-links {
    background: $color-black;
    box-shadow: $global-box-shadow-visible;
    padding: 0;
  }

  .docs-toc-link {
    color: $color-white !important;
    padding: $global-padding;
  }

  .docs-sidebar .nav > li > a {
    color: $color-white !important;
    font-size: unset;
    padding: $global-padding !important;
  }

  .docs-toc-link:hover,
  .docs-toc-link.active,
  .docs-sidebar .nav > li > a:hover,
  .docs-sidebar .nav > .active > a,
  .docs-sidebar .nav > .active > a:hover {
    background: $color-two !important;
    color: $color-black !important;
  }
}

#TableOfContents {
  border-left: $global-border;
}

#TableOfContents li a {
  color: $color-one !important;
  transition-duration: $global-transition-duration;
}

#TableOfContents li a:hover {
  color: $color-blue !important;
}

.dark #TableOfContents li a:hover {
  color: $color-two !important;
}

#TableOfContents li a.active {
  color: $color-blue !important;
  font-weight: unset;
}

.dark #TableOfContents li a.active {
  color: $color-two !important;
  font-weight: unset;
}

.toc-top li a:hover {
  color: unset;
}

.toc-top li a {
  color: $color-black;
}

.dark .toc-top li a {
  color: $color-two;
}

.post-nav-item .meta-nav {
  color: $color-one;
}

.dark .post-nav-item a {
  color: $color-white;
}

.docs .body-footer,
.dark .docs .body-footer {
  color: $color-one;
}

/* Footer */
footer {
  margin: 0;
  padding: $global-padding 0;
}

p.powered-by {
  color: $color-black;
}

.dark p.powered-by {
  color: $color-white;
}

.back-to-top {
  color: $color-black;
  text-align: center;
  transition-duration: $global-transition-duration;
}

.back-to-top:focus {
  color: $color-blue !important;
}

.dark .back-to-top {
  color: $color-white;
}

.dark .back-to-top:focus,
.dark .back-to-top:hover {
  color: $color-two !important;
}
