/* ### ### ### */
/* Custom CSS for Wowchemy */
/* by Andrew Nguyen */
/* ### ### ### */

/* Global Variables */
$global-border: 1px solid rgba(0, 0, 0, 0.1);
$global-border-black: 1px solid black;
$global-border-radius: 4px;

$global-box-shadow: none;
$global-box-shadow-visible: 0 1px 1px 0 rgba(50, 50, 50, 0.1);

$global-opacity: 0.5;
$global-padding: 1rem;
$global-page-margin-top: 50px;
$global-transition-duration: 0.3s;

/* Colors Accent */
$color-one: gray;
$color-two: rgba(0, 0, 0, 0.1);

/* Colors Mono */
$color-white: white;
$color-black: black;
$color-black-hover: rgba($color-black, 0.7);

/* Colors Other */
$color-blue: blue;
$color-blue-hover: rgba(0, 0, 200, 1);

/* Colors Dracula */
$color-dracula-white: #f2f2f2;
$color-dracula-background: #282a36;
$color-dracula-current: #44475a;
$color-dracula-foreground: #f8f8f2;
$color-dracula-comment: #6272a4;
$color-dracula-cyan: #8be9fd;
$color-dracula-green: #50fa7b;
$color-dracula-orange: #ffb86c;
$color-dracula-pink: #ff79c6;
$color-dracula-purple: #bd93f9;
$color-dracula-red: #ff5555;
$color-dracula-yellow: #f1fa8c;

/* Colors Dracula Derived */
$color-dracula-white-hover: rgba($color-dracula-white, 0.7);
$color-dracula-muted: #4c5067;
$color-dracula-a-hover: rgba(255, 121, 198, 0.7);
$color-dracula-btn-hover: rgba(80, 250, 123, 0.8);
$color-dracula-subtitle: rgba(255, 255, 255, 0.6);
$global-border-dracula: 1px solid #bd93f9;
$global-border-muted-dracula: 1px solid #4c5067;
$global-table-cell-hover-dracula: #323543;

/* Body */
body {
  background-color: $color-white;
  color: $color-black;
  margin-top: $global-page-margin-top;
}

body.dark {
  background: $color-dracula-background;
  color: $color-dracula-white;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
}

hr {
  background: $color-two;
  background-image: unset !important;
}

.dark hr {
  background: $color-dracula-muted;
}

.home-hero h1 {
  color: $color-black;
}

.section-heading p {
  color: $color-white;
}

.dark .section-heading p {
  color: $color-dracula-white;
}

.text-muted {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.text-muted:hover {
  color: $color-black-hover !important;
}

.dark .text-muted {
  color: $color-dracula-white !important;
}

.dark .text-muted:hover {
  color: $color-dracula-white-hover !important;
}

/* Code */
.dark .hljs-meta {
  color: $color-dracula-white;
}

.dark .hljs-comment,
.dark .hljs-quote {
  color: $color-dracula-comment;
}

pre,
code {
  background: $color-two;
  color: $color-blue;
}

.dark pre,
.dark code {
  background: $color-two;
  color: $color-dracula-green;
}

.dark .hljs-bullet,
.dark.hljs-doctag,
.dark .hljs-literal,
.dark .hljs-number,
.dark .hljs-tag .hljs-attr,
.dark .hljs-template-variable,
.dark .hljs-string,
.dark .hljs-symbol,
.dark .hljs-variable {
  color: $color-dracula-white;
}

/* Buttons */

.btn-primary:focus {
  box-shadow: none;
}

.btn-light {
  border: none;
}

.wg-hero.dark .btn {
  color: $color-black !important;
}

// .wg-hero.dark .btn:hover {
//   color: $color-blue !important;
// }

.btn-primary {
  background: $color-blue;
  border: none;
  border-radius: $global-border-radius;
  color: $color-white !important;
}

.dark .btn-primary {
  color: $color-black !important;
}

.btn-primary:focus,
.btn-primary:hover {
  background: $color-blue-hover;
}

.dark .btn-primary {
  background: $color-dracula-green;
  color: $color-black !important;
}

.dark .btn-primary:focus,
.dark .btn-primary:hover {
  background: $color-dracula-btn-hover;
  color: $color-black !important;
}

/* Links */

a {
  color: $color-blue;
  transition-duration: $global-transition-duration;
}

.dark a {
  color: $color-dracula-pink !important;
}

a:hover {
  color: $color-blue-hover;
  text-decoration: underline;
}

.dark a:hover {
  color: $color-dracula-a-hover !important;
}

// .home-section.dark a {
//   background: $color-dracula-green;
//   color: $color-black;
// }

// .home-section.dark a:hover {
//   background: $color-dracula-btn-hover;
//   color: $color-black !important;
// }

.anchorjs-link {
  color: $color-blue;
  font-weight: unset;
  transition-duration: $global-transition-duration;
}

.anchorjs-link:hover {
  color: $color-blue;
  text-decoration: underline;
}

/* CTAs */
.cta-center .cta-group {
  justify-content: center;
}

/* Forms */
.form-control {
  border: $global-border;
}

.form-control:hover,
.form-control:focus {
  border-color: $color-blue !important;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
}

.dark .form-control:hover,
.dark .form-control:focus {
  border-color: $color-dracula-purple !important;
  box-shadow: none;
}

/* Inputs */

input.form-control::placeholder {
  color: $color-black;
  content: "" !important;
  opacity: $global-opacity;
}

.dark input.form-control::placeholder {
  color: $color-black;
  opacity: $global-opacity;
}

/* Tables */

table {
  display: table;
  word-break: keep-all;
}

table > thead > tr > th {
  background-color: $color-blue;
  color: $color-white;
}

.dark table > thead > tr > th {
  background-color: $color-dracula-purple;
  color: $color-black;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: $global-border !important;
}

.dark table > thead > tr > th,
.dark table > tbody > tr > th,
.dark table > tfoot > tr > th,
.dark table > thead > tr > td,
.dark table > tbody > tr > td,
.dark table > tfoot > tr > td {
  border: $global-border-muted-dracula !important;
}

.dark table > tbody > tr:nth-child(2n + 1) > td,
.dark table > tbody > tr:nth-child(2n + 1) > th {
  background-color: unset;
}

.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: $global-table-cell-hover-dracula;
}

/* Navigation Bar */
@media (min-width: 992px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl,
  .navbar-expand-lg .navbar-collapse {
    height: 100%;
  }

  .navbar .navbar-nav {
    align-items: center;
    height: 100%;
  }
}

.navbar {
  background: $color-white;
  border-bottom: $global-border-black;
  box-shadow: $global-box-shadow;
  height: $global-page-margin-top;
}

.dark .navbar {
  background: $color-dracula-background;
  border-bottom: $global-border-black;
  box-shadow: $global-box-shadow;
}

.navbar-nav {
  font-weight: unset;
}

/* Navigation Bar Mobile */

@media (max-width: 991.98px) {
  .navbar-collapse {
    /* mobile */
    background: $color-white;
  }

  .dark .navbar-collapse {
    /* mobile */
    background: $color-dracula-current;
  }

  #navbar-main .main-menu-item .nav-item {
    padding: 0 !important;
  }

  #navbar-main .main-menu-item .nav-item .nav-link {
    color: $color-black !important;
    padding: $global-padding !important;
  }

  .dark #navbar-main .main-menu-item .nav-item .nav-link {
    color: $color-dracula-white !important;
  }

  #navbar-main .main-menu-item .nav-item .nav-link:hover,
  #navbar-main .main-menu-item .nav-item .nav-link.active {
    //background: $color-two !important;
    color: $color-blue !important;
  }

  .dark #navbar-main .main-menu-item .nav-item .nav-link:hover,
  .dark #navbar-main .main-menu-item .nav-item .nav-link.active {
    //background: $color-two !important;
    color: $color-dracula-pink !important;
  }
}

@media (min-width: 768px) {
  .d-md-inline-flex {
    display: flex !important;
  }
}

.navbar-toggler {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.dark .navbar-toggler {
  color: $color-white !important;
}

.navbar-toggler:hover {
  color: $color-blue !important;
}

.dark .navbar-toggler:hover {
  color: $color-dracula-pink !important;
}

#logo {
  display: inline;
}

.navbar .nav-item {
  height: 100%;
}

.nav-link {
  align-items: center;
  display: flex;
  height: 100%;
}

.navbar-light {
  line-height: unset;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.dark .navbar .navbar-nav .nav-link {
  color: $color-white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  //background: $color-black !important;
  color: $color-blue !important;
  //font-weight: bold !important;
}

.dark .navbar-nav .nav-link:hover {
  //background: $color-two !important;
  color: $color-dracula-pink !important;
}

.navbar .navbar-nav .nav-link.active {
  color: $color-blue !important;
  font-weight: unset !important;
}

.dark .navbar .navbar-nav .nav-link.active {
  color: $color-dracula-pink !important;
  font-weight: unset !important;
}

// .navbar .navbar-nav .nav-link.active:hover {
//   color: $color-white !important;
// }

.dark .navbar .navbar-nav .nav-link.active:hover {
  color: $color-dracula-pink !important;
}

/* Navigation Bar Right Icons */
ul.nav-icons li.nav-item a {
  background: unset !important;
}

ul.nav-icons li.nav-item a.nav-link:hover {
  background: unset !important;
  color: $color-blue !important;
}

.dark ul.nav-icons li.nav-item a.nav-link:hover {
  color: $color-dracula-pink !important;
}

/* Theme Selector */
.dark .dropdown-menu {
  background: $color-dracula-current !important;
  border: $global-border-muted-dracula;
}

.navbar .dropdown-item:hover {
  color: $color-blue !important;
}

.dark .navbar .dropdown-item:hover {
  color: $color-dracula-pink !important;
}

.navbar .dropdown-item-active {
  color: $color-blue !important;
  font-weight: unset;
}

.dark .navbar .dropdown-item-active {
  color: $color-dracula-pink !important;
  font-weight: unset;
}

.dropdown-item {
  color: $color-black !important;
  text-transform: none;
  transition-duration: $global-transition-duration;
}

.dark .dropdown-item {
  color: $color-dracula-white !important;
  transition-duration: $global-transition-duration;
}

/* Breadcrumbs */
@media (max-width: 768px) {
  .breadcrumb {
    padding-bottom: 0;
    padding-top: $global-padding;
  }
}

.breadcrumb-item a {
  color: $color-one !important;
  transition-duration: $global-transition-duration;
}

.dark .breadcrumb-item a {
  color: $color-dracula-subtitle !important;
  transition-duration: $global-transition-duration;
}

.breadcrumb-item a:hover {
  color: $color-blue !important;
  text-decoration: none;
}

.dark .breadcrumb-item a:hover {
  color: $color-dracula-pink !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: $color-one;
}

.dark .breadcrumb-item + .breadcrumb-item::before {
  color: $color-dracula-subtitle;
}

.breadcrumb-item.active {
  color: $color-blue;
}
.dark .breadcrumb-item.active {
  color: $color-dracula-pink;
}

/* Search */

.search-results {
  background: $color-white;
}

.dark .search-results {
  background: $color-dracula-background;
}

.search-results > .container {
  padding: 0;
}

.section-search-results {
  padding: $global-padding;
  padding-top: 0rem;
}

.search-header {
  padding: $global-padding;
}

.dark .search-header {
  background: $color-dracula-background;
}

#search-box::before {
  color: $color-black;
  opacity: 1;
  overflow-x: unset;
  top: 0.7rem;
}

.dark #search-box::before {
  color: $color-dracula-white;
}

#search-box #search-query {
  border-radius: $global-border-radius;
  color: $color-black;
  font-size: 1rem;
  height: calc(1.5em + 0.75rem + 2px);
}

.dark #search-box #search-query {
  border: $global-border-dracula;
}

.dark #search-box #search-query {
  color: $color-dracula-white;
}

.dark #search-query {
  background: $color-dracula-background;
}

.dark .search-modal {
  background: $color-dracula-background;
}

/* Books */

.docs-toggle {
  color: $color-black;
}

.dark .docs-toggle {
  color: $color-white;
}

.docs-toggle:hover {
  color: $color-blue;
}

.dark .docs-toggle:hover {
  color: $color-dracula-pink;
}

@media (max-width: 768px) {
  .docs-search {
    border-bottom: 0;
  }
}

@media (min-width: 768px) {
  .docs-search {
    padding: $global-padding;
  }
}

.docs-search .form-control {
  background: $color-two;
  border-radius: $global-border-radius;
  text-overflow: ellipsis;
}

.dark .docs-search .form-control {
  background: $color-dracula-background;
  border: $global-border-muted-dracula;
  border-radius: $global-border-radius;
  color: $color-dracula-white;
}

.docs-search .form-control:focus {
  box-shadow: $global-box-shadow;
}

#docs-search-box-border {
  border-top: $global-border;
}

.sidebar-search {
  color: $color-black;
}

.sidebar-search .fa-search:hover {
  box-shadow: $global-box-shadow;
  color: $color-blue;
}

.sidebar-search-shortcut {
  background: $color-black;
  border: $global-border;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
  color: $color-white;
  transition-duration: $global-transition-duration;
}

.dark .sidebar-search-shortcut {
  background: $color-dracula-white;
  color: $color-black;
}

.sidebar-search-shortcut:hover {
  background: $color-black-hover;
  color: $color-white;
}

.dark .sidebar-search-shortcut:hover {
  background: $color-dracula-white-hover;
  color: $color-black;
}

.docs-links {
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 768px) {
  .docs-sidebar {
    border-right: $global-border-black;
    height: calc(100vh - 50px);
    top: 50px;
  }

  .dark .docs-sidebar {
    border-right: $global-border-black;
    height: calc(100vh - 50px);
    top: 50px;
  }
}

.docs-sidebar a {
  color: $color-black;
  transition-duration: $global-transition-duration;
}

.dark .docs-sidebar .nav > li:not(.active) > a {
  background: $color-dracula-background;
}

@media (min-width: 768px) {
  .docs-sidebar a:hover {
    color: $color-blue !important;
  }

  .dark .docs-sidebar a:hover {
    color: $color-dracula-pink !important;
  }
}

.docs-sidebar .nav > li > a {
  color: $color-one;
}

.dark .docs-sidebar .nav > li > a {
  color: $color-dracula-subtitle !important;
}

@media (min-width: 768px) {
  .dark .docs-sidebar .docs-toc-item a.active,
  .dark .docs-sidebar .nav > .active > a {
    color: $color-dracula-pink !important;
  }
}

@media (min-width: 768px) {
  .dark .docs-sidebar .nav > li > a:hover {
    color: $color-dracula-pink !important;
  }
}

// @media (min-width: 768px) {
//   .dark .docs-sidebar a:hover {
//     color: $color-two !important;
//   }
// }

@media (max-width: 768px) {
  .dark .docs-sidebar a:hover {
    color: $color-dracula-pink !important;
  }
}

@media (max-width: 768px) {
  .dark .docs-sidebar .docs-toc-item a.active,
  .dark .docs-sidebar .nav > .active > a {
    color: $color-dracula-pink !important;
  }
}

.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active > a {
  color: $color-blue !important;
  font-weight: unset;
}

.dark .docs-sidebar .nav > .active:hover > a,
.dark .docs-sidebar .nav > .active > a {
  color: $color-dracula-pink !important;
}

.docs-toc-link {
  font-weight: bold;
}

.dark .docs-toc-link {
  background: $color-dracula-background;
  color: $color-white;
}

.docs-toc-link.active {
  color: $color-blue !important;
  font-weight: bold !important;
}

.dark .docs-toc-link.active {
  color: $color-dracula-pink !important;
  font-weight: bold !important;
}

/* Books Navigation Mobile */

@media (max-width: 768px) {
  .dark .docs-sidebar .nav > li:not(.active) > a {
    background: $color-dracula-current;
  }

  .docs-links {
    background: $color-white;
    padding: 0;
  }

  .dark .docs-links {
    background: $color-dracula-current;
  }

  .docs-toc-link {
    color: $color-black !important;
    padding: $global-padding;
  }

  .dark .docs-toc-link {
    background: $color-dracula-current;
    color: $color-dracula-white !important;
  }

  .docs-sidebar .nav > li > a {
    color: $color-black !important;
    font-size: unset;
    padding: $global-padding !important;
  }

  .dark .docs-sidebar .nav > li > a {
    color: $color-dracula-subtitle !important;
  }

  .docs-toc-link:hover,
  .docs-toc-link.active,
  .docs-sidebar .nav > li > a:hover,
  .docs-sidebar .nav > .active > a,
  .docs-sidebar .nav > .active > a:hover {
    //background: $color-two !important;
    color: $color-blue !important;
  }

  .dark .docs-toc-link:hover,
  .dark .docs-toc-link.active,
  .dark .docs-sidebar .nav > li > a:hover,
  .dark .docs-sidebar .nav > .active > a,
  .dark .docs-sidebar .nav > .active > a:hover {
    //background: $color-dracula-background !important;
    color: $color-dracula-pink !important;
  }
}

#TableOfContents {
  border-left: $global-border;
}

.dark #TableOfContents {
  border-left: $global-border-muted-dracula;
}

#TableOfContents li a {
  color: $color-one !important;
  transition-duration: $global-transition-duration;
}

.dark #TableOfContents li a {
  color: $color-dracula-subtitle !important;
}

#TableOfContents li a:hover {
  color: $color-blue !important;
}

.dark #TableOfContents li a:hover {
  color: $color-dracula-pink !important;
}

#TableOfContents li a.active {
  color: $color-blue !important;
  font-weight: unset;
}

.dark #TableOfContents li a.active {
  color: $color-dracula-pink !important;
  font-weight: unset;
}

.toc-top li a {
  color: $color-blue;
  font-weight: unset;
}

.dark .toc-top li a {
  color: $color-dracula-pink;
}

.post-nav-item .meta-nav {
  color: $color-one;
  font-weight: unset;
}

.dark .post-nav-item .meta-nav {
  color: $color-dracula-subtitle;
}

.dark .post-nav-item a {
  color: $color-white;
}

.docs .body-footer {
  color: $color-one;
}

.dark .docs .body-footer {
  border-top: $global-border-muted-dracula;
  color: $color-dracula-subtitle;
}

/* Footer */
footer {
  margin: 0;
  padding: $global-padding 0;
}

p.powered-by {
  color: $color-black;
}

.dark p.powered-by {
  color: $color-dracula-white;
}

.back-to-top {
  color: $color-black;
  text-align: center;
  transition-duration: $global-transition-duration;
}

.back-to-top:focus {
  color: $color-blue !important;
}

.dark .back-to-top {
  color: $color-dracula-white;
}

.dark .back-to-top:focus,
.dark .back-to-top:hover {
  color: $color-dracula-pink !important;
}

/* Audio */
audio {
  margin-bottom: unset;
}
