/* ### ### ### */
/* Custom CSS for Wowchemy */
/* by Andrew Nguyen */
/* ### ### ### */

/* Global Variables */
$global-border-radius: 0;

$global-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.1);
$global-box-shadow-colored: 0 1px 1px 0 #f5df4d;

$global-opacity: 0.5;

$global-padding: 1rem;

$global-page-margin-top: 50px;

$global-transition-duration: 0s;

/* Colors */
$color-one: #939597; // ultimate gray
$color-two: #f5df4d; // illuminating
$color-three: #363b48; // blue nights

/* Colors Standard */
$color-white: #fffefe;
$color-white-two: #f0eee9;
$color-black: #111111;
$color-blue: #00589b;

/* Body */
body {
  background-color: $color-white;
  color: $color-black;
  margin-top: $global-page-margin-top;
}

body.dark {
  background: #363b48;
  color: $color-white;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
}

.home-hero h1 {
  color: $color-black;
}

.section-heading p {
  color: $color-three;
}

/* Links */

a {
  color: $color-blue;
}

.dark a {
  color: $color-two;
}

a:hover {
  color: $color-blue;
  text-decoration: underline;
}

.dark a:hover {
  color: $color-two !important;
}

.anchorjs-link {
  color: $color-blue;
  font-weight: unset;
  transition-duration: $global-transition-duration;
}

.anchorjs-link:hover {
  color: $color-blue;
  text-decoration: underline;
}

/* Forms */
.form-control:focus {
  border-color: $color-two !important;
  border-radius: $global-border-radius;
  box-shadow: none;
}

.dark .form-control {
  background: $color-three;
}

/* Inputs */

input.form-control::placeholder {
  color: $color-black;
  opacity: $global-opacity;
}

.dark input.form-control::placeholder {
  color: $color-white;
  opacity: $global-opacity;
}

/* Tables */

table {
  display: table;
  word-break: keep-all;
}

/* Navigation Bar */
.navbar {
  background: $color-one;
  box-shadow: $global-box-shadow;
  height: $global-page-margin-top + 5;
}

.dark .navbar {
  background: $color-one;
  box-shadow: none;
}

.navbar-nav {
  /* ensure same value as brand font-size */
  line-height: 1rem;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    /* mobile */
    background: $color-one;
  }
}

.navbar-toggler {
  color: $color-white !important;
  transition-duration: $global-transition-duration;
}

.navbar-toggler:hover {
  color: $color-one !important;
}

#logo {
  display: inline;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.dark .navbar .navbar-nav .nav-link {
  color: $color-white !important;
}

.navbar .navbar-nav .nav-link.active {
  color: $color-two !important;
  font-weight: unset !important;
}

.dark .navbar .navbar-nav .nav-link.active {
  color: $color-two !important;
  font-weight: unset !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $color-two !important;
  font-weight: unset !important;
}

/* Theme Selector */
.navbar .dropdown-item-active {
  color: $color-blue !important;
}

.navbar .dropdown-item:hover {
  color: $color-blue !important;
}

.dropdown-item {
  color: $color-black !important;
  transition-duration: $global-transition-duration;
}

.dark .dropdown-item {
  color: $color-white !important;
  transition-duration: $global-transition-duration;
}

/* Breadcumb */
.breadcrumb-item.active {
  color: $color-one;
}

.dark .breadcrumb-item.active {
  color: $color-one;
}

/* Search */
.search-results > .container {
  padding: 0;
}

.section-search-results {
  padding: 1rem;
  padding-top: 0rem;
}

.search-header {
  padding: $global-padding;
}

#search-box #search-query {
  border-radius: $global-border-radius;
  font-size: 1rem;
  height: calc(1.5em + 0.75rem + 2px);
}

/* Books */

.docs-toggle {
  color: $color-blue;
}

.dark .docs-toggle {
  color: $color-two;
}

.dark .docs-toggle:hover {
  color: $color-white;
}

.docs-search .form-control {
  background: $color-white-two;
  border-radius: $global-border-radius;
  text-overflow: ellipsis;
}

.dark .docs-search .form-control {
  background: $color-three;
}

.docs-search .form-control:focus {
  box-shadow: $global-box-shadow;
}

#docs-search-box-border {
  border-top: 1px solid #eeeeee;
}

.docs-links {
  padding-top: 0;
}

@media (min-width: 768px) {
  .docs-sidebar {
    top: 55px;
  }
}

.docs-sidebar a {
  color: $color-black;
  transition-duration: $global-transition-duration;
}

.docs-sidebar a:hover {
  color: $color-blue !important;
}

.docs-sidebar .nav > li > a {
  color: $color-one;
}

.dark .docs-sidebar .nav > li > a {
  color: $color-one !important;
}

.dark .docs-sidebar .nav > li > a:hover {
  color: $color-two !important;
}

.dark .docs-sidebar a:hover {
  color: $color-two !important;
}

.dark .docs-sidebar .nav > li:not(.active) > a {
  background: $color-three;
}

.docs-sidebar .docs-toc-item.active a,
.docs-sidebar .docs-toc-item a.active,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active > a {
  color: $color-blue !important;
  font-weight: unset;
}

.dark .docs-sidebar .docs-toc-item a.active,
.dark .docs-sidebar .nav > .active > a {
  color: $color-two !important;
}

.docs-toc-link {
  font-weight: bold;
}

.dark .docs-toc-link {
  background: $color-three;
  color: $color-white;
}

.docs-toc-link.active {
  font-weight: bold !important;
}

#TableOfContents li a {
  color: $color-one !important;
}

#TableOfContents li a:hover {
  text-decoration: underline;
}

#TableOfContents li a.active {
  font-weight: unset;
  text-decoration: underline;
}

#TableOfContents li a:hover,
.toc-top li a:hover {
  color: unset;
}

.toc-top li a {
  color: $color-black;
}

.dark .toc-top li a {
  color: $color-two;
}

.post-nav-item .meta-nav {
  color: $color-one;
}

.dark .post-nav-item a {
  color: $color-white;
}

.docs .body-footer,
.dark .docs .body-footer {
  color: $color-one;
}

/* Footer */
footer {
  margin: 0;
  padding: 1rem 0;
}

p.powered-by {
  color: $color-black;
}

.dark p.powered-by {
  color: $color-white;
}

.back-to-top {
  color: $color-black;
  text-align: center;
  transition-duration: $global-transition-duration;
}

.back-to-top:focus {
  color: $color-blue !important;
}

.dark .back-to-top {
  color: $color-white;
}

.dark .back-to-top:focus,
.dark .back-to-top:hover {
  color: $color-two !important;
}
